@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
    --font-outfit: "Outfit", sans-serif;
    --color-White: hsl(0, 0%, 100%);
    --color-Slate300: hsl(212, 45%, 89%);
    --color-Slate500: hsl(216, 15%, 48%);
    --color-Slate900: hsl(218, 44%, 22%);
}

@layer utilities {
    .text-Present1 {
        font-size: 22px;
        line-height: 120%;
        letter-spacing: 0;
        font-weight: 700;
    }
    .text-present2 {
        font-size: 15px;
        line-height: 140%;
        letter-spacing: 0.2px;
        font-weight: 300;
    }
}
