:root {
    --White: hsl(0, 0%, 100%);
    --Slate300: hsl(212, 45%, 89%);
    --Slate500: hsl(216, 15%, 48%);
    --Slate900: hsl(218, 44%, 22%);
}
body {
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    background-color: var(--Slate300);
    margin: 0;
}
html,
body {
    height: 100%;
}

.text-Present1 {
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0;
    font-weight: 700;
}

.text-present2 {
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    font-weight: 300;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 89%;
}

.qr-code {
    background-color: var(--White);
    padding: 16px 16px 40px 16px;
    width: auto;

    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.qr-image img {
    width: 288px;
    height: 288px;
    border-radius: 10px;
}

.text-container {
    width: 288px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.text-break {
    word-break: break-all;
    padding: 0 19.2px;
    margin: 0px;
}

.footer {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 375px) {
}
