@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@layer utilities {
    .text-Present1 {
        font-size: 24px;
        line-height: 150%;
        letter-spacing: 0;
        font-weight: 800;
    }
    .text-present2 {
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0;
        font-weight: 500;
    }
    .text-present3 {
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0;
        font-weight: 500;
    }

    .text-presentBold3 {
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0;
        font-weight: 800;
    }
}
