@font-face {
    font-family: Figtree;
    src: url(./assets/fonts/static/Figtree-Medium.ttf);
}

@font-face {
    font-family: Figtree;
    src: url(./assets/fonts/static/Figtree-ExtraBold.ttf);
    font-weight: bold;
}
html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: hsl(47, 88%, 63%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95%;
}

.card {
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 384px;
    height: 522px;
    box-shadow: 10px 10px #111111;
    border: 1px solid #111111;
}

.card img {
    border-radius: 10px;
    width: 336px;
    height: 200px;
    margin: 24px;
}

.words {
    display: flex;
    flex-direction: column;
    color: #111111;
}

content {
    width: 336px;
    height: 194px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: auto;
}

.category {
    background: hsl(47, 88%, 63%);
    max-width: 82px;
    max-height: 29px;
    display: flex;
    justify-content: center;
    margin: 0px;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.category p {
    font-family: Figtree;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    margin: 0px;
}

.publishdate {
    font-family: Figtree;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    max-width: 143px;
    max-height: 31px;
    margin-top: auto;
    margin-bottom: auto;
}

.title {
    font-family: Figtree;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;
    max-width: 336px;
    max-height: 36px;
    margin-top: auto;
    margin-bottom: auto;
}

.description {
    font-family: Figtree;
    font-size: 16px;
    color: #6b6b6b;
    line-height: 150%;
    letter-spacing: 0px;
    max-width: 336px;
    max-height: 72px;
    margin-top: auto;
    margin-bottom: auto;
}

.author {
    width: 129px;
    height: 32px;
    display: flex;
    flex-direction: rows;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 24px;
}

.author img {
    width: 32px;
    height: 32px;
    margin: 0px;
}

.authorname {
    font-family: Figtree;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    margin-left: 12px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    height: 5%;
}

/* Change dimensions based on mobile screen size */

@media screen and (max-width: 375px) {
    .card {
        width: 327px;
        height: 501px;
    }

    .card img {
        width: 279px;
        height: auto;
    }

    content {
        width: 279px;
        height: 173px;
    }

    .category {
        max-width: 73px;
        max-height: 26px;
    }

    .category p {
        font-size: 12px;
    }

    .publishdate {
        font-size: 12px;
        max-width: 123px;
        max-height: 18px;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .title {
        font-size: 20px;
        max-width: 279px;
        max-height: 30px;
        margin-top: 0px;
        margin-bottom: 12px;
    }

    .description {
        font-size: 14px;
        color: #6b6b6b;
        max-width: 279px;
        max-height: 173px;
        margin-top: 0px;
    }

    .author {
        width: 129px;
        height: 32px;
    }

    .author img {
        width: 32px;
        height: 32px;
        margin: 0px;
    }

    .authorname {
        width: 85px;
        height: 21px;
    }
}

@media screen and (min-width: 375px) {
    .title:hover {
        color: hsl(47, 88%, 63%);
        cursor: pointer;
    }
}
